<!DOCTYPE html>
<html lang="ko">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/rooms.css"/>
    <title>Document</title>
</head>
<body>
    <button class="open">Cilck</button>


    <div class="container">
        <div class="modal">
            <h2>HIGHCARE</h2>
            <P>그룹웨어 하이케어의 채팅창입니다.</P>
            <button class="close">Close</button>
        </div>
    </div>


    <script src="../js/modal.js"></script>
</body>
</html>